# Import package

In [44]:
from sqlalchemy import create_engine, inspect # pip install SQLAlchemy
from sqlalchemy.engine import URL
import pypyodbc # pip install pypyodbc
import pandas as pd # pip install pandas

SERVER_NAME = 'LAPTOP-B6OG51F6'
DATABASE_NAME = 'med_DB2'
TABLE_NAME = 'AllMed'
excel_file = './Med_table.xlsx'
connection_string = f"""
    DRIVER={{SQL Server}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Trusted_Connection=yes;
"""
connection_url = URL.create('mssql+pyodbc', query={'odbc_connect': connection_string})
engine = create_engine(connection_url, module=pypyodbc)

# for single sheet
AllMed_excel = pd.read_excel(excel_file, sheet_name="AllMed")
# get table Attribute info
inspector = inspect(engine)
table_columns = inspector.get_columns(TABLE_NAME)

# preprocess the excel file

#### 處理primary key獨立問題

In [45]:
# primary key independence 
invalid_ids = []# collect not number data row
for _, row in AllMed_excel.iterrows():
    try:
        id_value = int(row['Med_id'])
    except ValueError:
        invalid_ids.append(row['Med_id'])

    row['Med_id'] = id_value

# check duplicate ID

existing_ids_df=[]
with engine.connect() as conn:
    result=conn.execute(f'select Med_id from {TABLE_NAME}')
    allresult = result.fetchall()
    existing_ids_df = [item[0] for item in allresult]
    
duplicate_ids = AllMed_excel[AllMed_excel.duplicated('Med_id')]['Med_id'].tolist()
duplicate_ids+= AllMed_excel[AllMed_excel['Med_id'].isin(existing_ids_df)]['Med_id'].tolist()

# non number ID OR duplicated ID, Remove them from excel file which going to load to sql
if invalid_ids or duplicate_ids:
    print("Invalid or duplicate IDs found in Excel data:")
    if invalid_ids:
        print("Invalid IDs:", invalid_ids)
    if duplicate_ids:
        print("Duplicate IDs:", duplicate_ids)
    AllMed_excel = AllMed_excel[~AllMed_excel['Med_id'].isin(invalid_ids + duplicate_ids)]

#### 所有數值格 都確認是否放數值

In [47]:
# check which is numerate
numeric_columns = [column['name'] for column in table_columns if column['type'].python_type in (int, float)]

# non numerate data turn into Null
for col in numeric_columns:
    AllMed_excel[col] = pd.to_numeric(AllMed_excel[col], errors='coerce')

#### 處理not null的值有Null就不可以放進去

In [46]:
# check which not Null 
not_null_columns = [column['name'] for column in table_columns if not column['nullable']]

# take out rows that contain null in not null column
invalid_rows = AllMed_excel[AllMed_excel[not_null_columns].isnull().any(axis=1)]

# remove and print them
AllMed_excel = AllMed_excel.dropna(subset=not_null_columns)
# if not invalid_rows.empty:
#     print("Rows with NULL values in non-nullable columns:")
#     print(invalid_rows)

#### Foreign key檢查(因為是table 1所以不用
#### 換行換空格

In [ ]:
# function for newline replace by space
def replace_newlines_and_spaces(cell_data):
    if isinstance(cell_data, str):
        #return cell_data.replace("\n", "").replace(" ", "")
        return cell_data.replace("\n", " ")
    return cell_data

# use applymap to apply function for each cell
AllMed_excel = AllMed_excel.applymap(replace_newlines_and_spaces)

# Wtite data to sql

In [48]:
# write data to sql
AllMed_excel.to_sql(TABLE_NAME, engine, if_exists='append', index=False)

-1